body {
    font-family: Helvetica;
    position: relative;
    margin: 0;
    background-image: url(/images/gillette.jpg);
  }
  .nav-bar {
    position: fixed;
    width: 100%;
    font-size: 10;
    background-color: black;
    margin-top: 0;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  img {
    height: 80px;
    width: 80px;
    float: left;
  }
  .tabs {
    float: right;
    vertical-align: center;
    padding-left: 40px;
    padding-right: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 20px;
  }
  #schedule {
      text-align: center;
      width: 130px;
      color: white;
      background-color: red;
      font-size: 15px;
      border-radius: 300px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 45px;
      padding-right: 45px;
      line-height: 1.5;
      font-weight: bold;
      text-decoration: none;
      margin-right: 25px;
  }
  #schedule:hover {
    background-color: rgb(239, 131, 131);
  }
  #matchups {
      text-align: center;
      width: 130px;
      color: white;
      background-color: red;
      font-size: 15px;
      border-radius: 300px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 45px;
      padding-right: 45px;
      line-height: 1.5;
      font-weight: bold;
      text-decoration: none;
      margin-right: 30px;
  }
  #matchups:hover {
    background-color: rgb(239, 131, 131);
  }
  #betting {
      text-align: center;
      width: 130px;
      color: white;
      background-color: red;
      font-size: 15px;
      border-radius: 300px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 55px;
      padding-right: 55px;
      line-height: 1.5;
      font-weight: bold;
      text-decoration: none;
      margin-right: 30px;
  }
  #betting:hover {
    background-color: rgb(239, 131, 131);
  }
  #pats-nation {
      text-align: center;
      width: 130px;
      color: white;
      background-color: red;
      font-size: 15px;
      border-radius: 300px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 40px;
      padding-right: 40px;
      line-height: 1.5;
      font-weight: bold;
      text-decoration: none;
      margin-right: 30px;
  }
  #pats-nation:hover {
    background-color: rgb(239, 131, 131);
  }
  #news-twitter {
      text-align: center;
      width: 130px;
      color: white;
      background-color: red;
      font-size: 15px;
      border-radius: 300px;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
      line-height: 1.5;
      font-weight: bold;
      text-decoration: none;
  }
  #news-twitter:hover {
    background-color: rgb(239, 131, 131);
  }
table, th, td {
    border:1px solid black;
    background-color: white;
    margin: auto;
}
table {
    padding-top: 100px;
}
